/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 600px;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url('/img/TeensyPHP-Hero-BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    min-height: 400px;
  }
}

.heroContent {
  padding: 2rem;
  width: 100%;
}

.heroTagline {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #000000;
  -webkit-text-stroke: 2px #000000;
}

@media screen and (max-width: 996px) {
  .heroTagline {
    font-size: 1.75rem;
  }
}

.desktopTagline {
  display: inline;
}

.mobileTagline {
  display: none;
}

@media screen and (max-width: 620px) {
  .desktopTagline {
    display: none;
  }

  .mobileTagline {
    display: inline;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
